@import '~vendor/css/base/base.scss';
@import './svgMap.scss';

body {
  background-color: lighten($gray,40%);
}
.app {
  @include retina('padding-top',20px);
  .hd ,.desc,.tips {
    @include retina('margin-left',50px);
    @include retina('margin-right',50px);
  }
  .hd {
    @include retina('height',90px);
    @include retina('line-height',90px);
    @include retina('font-size',38px);
    text-align: letf;
  }
  .desc {
    @include retina('padding',20px);
    @include retina('line-height',40px);
    @include retina('line-height',28px);
    @include retina('border-radius',8px);
    border:1px solid #333;
  }
  .map {
    background-color:$white;
    @include retina('margin-top',50px);
  }
  .tips {
    @include retina('margin-top',100px);
    @include retina('padding-top',40px);
    @include retina('padding-bottom',40px);
    @include retina('padding-left',20px);
    @include retina('padding-right',20px);
    @include retina('line-height',10px);
    border-top:1px solid $gray;
    color:$gray;
  }
}



