@import './svgSeat.scss';

$blue:#35aae4;

body {
  background-color: lighten($gray,40%);
}
.app {
  @include retina('padding-top',20px);
  .hd ,.desc,.tips {
    @include retina('margin-left',50px);
    @include retina('margin-right',50px);
  }
  .hd {
    @include retina('height',90px);
    @include retina('line-height',90px);
    @include retina('font-size',38px);
    text-align: letf;
  }
  .map {
    .svg-map-wrapper {
      background-color:$white;
    }
    @include retina('margin-top',50px);
  }
  .desc {
    @include retina('padding',20px);
    @include retina('line-height',40px);
    @include retina('line-height',28px);
    @include retina('border-radius',8px);
    border:1px solid #333;
  }
  .button-box {
    @include retina('margin-top',30px);
    .submit {
      border:none;
      background-color:$blue;
      width: 100%;
      text-align: center;
      color: $white;
      @include retina('height',80px);
      @include retina('line-height',80px);
      @include retina('font-size',40px);
    }
  }
}