@import '~vendor/css/base/base.scss';

.selected-list {
  border-top:1px solid $gray-light;
  .selected-desc {
    @include retina('padding',30px);
    @include retina('line-height',40px);
    @include retina('font-size',28px);
    text-align: right;
  }
  .item {
    border-bottom:1px solid $gray-light;
    @include retina('padding-left',30px);
    @include retina('line-height',60px);
    @include retina('font-size',28px);
    display: flex;
    .price {
      color:$red;
      flex: 1;
      text-align: right;
      @include retina('padding-right',30px);
    }
    .delete {
      display: inline-block;
      @include retina('width',60px);
      @include retina('height',60px);
      @include retina('line-height',60px);
      @include retina('font-size',40px);
      text-align: center;
      color:$black;

    }
    &:last-child {
      border-bottom:none;
    }
  }
}