@import '~vendor/css/base/base.scss';

.svg-map {
  border:1px solid #333;
  overflow: auto;
  transition: scale 0.3s linear;
}
.scale-bar {
  height: 70px;
  line-height: 70px;
  display: flex;
  border:1px solid $orange;
  border-radius:8px;
  @include retina('margin',40px);
  overflow: hidden;
  a {
    display: inline-block;
    flex: 1;
    color:$orange;
    text-align: center;
    &:first-child {
      border-right:1px solid $orange;
    }
    &:active {
      background-color:$gray-light;
    }
  }
}