@import '~vendor/css/base/base.scss';

.svg-map {
  @include retina('padding-top',20px);
  @include retina('padding-bottom',20px);
  border-top:1px solid $gray-light;
  border-bottom:1px solid $gray-light;
  overflow: auto;
}
.scale-bar {
  height: 70px;
  line-height: 70px;
  display: flex;
  border:1px solid $orange;
  border-radius:8px;
  @include retina('margin',40px);
  overflow: hidden;
  a {
    display: inline-block;
    flex: 1;
    color:$orange;
    text-align: center;
    &:first-child {
      border-right:1px solid $orange;
    }
    &:active {
      background-color:$gray-light;
    }
  }
}

.seat-desc {
  @include retina('margin-top',30px);
  @include retina('padding-top',20px);
  @include retina('padding-bottom',20px);
  border-top:1px solid $gray;
  display: flex;
  .desc-item {
    flex: 1;
    box-sizing:border-box;
    padding:10px;
    text-align: center;
    .color {
      display: inline-block;
      width: 50px;
      height: 50px;
    }
    p {
      margin-top: 10px;
      line-height: 20px;
    }
  }
}